* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quiz-container {
  background: #423de7;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: pop 0.8s ease;
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

#question {
  font-size: 22px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.options button {
  background: #f0f0f0;
  border: none;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.options button:hover {
  background-color: #0a87bd;
  transform: scale(1.05);
}

#next-btn {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 20px;
  background-color: #3ac3d2;
  color: rgb(61, 26, 26);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}



.floating {
  position: absolute;
  opacity: 0.2;
  width: 60px;
  height: 60px;
  background-size: cover;
  animation: float 10s linear infinite;
}

.book {
  top: 10%;
  left: 5%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1975/1975684.png');
}

.laptop {
  bottom: 15%;
  right: 10%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2921/2921222.png');
}

.code {
  top: 10%;
  right: 15%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2721/2721276.png');
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.fade-in {
  animation: fade 1s ease-in;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

#score-container {
  margin-top: 20px;

}

.hide {
  display: none;
}